body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
  padding: 0;
  background: #667;
}

.text {
  text-align: justify;
}

hr.text {
  border: solid 1px #222;
  margin: 1em;
}

.chart {
  display: block;
  margin: 1em auto;
}

.chart svg {
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
  display: block;
  margin: 1em auto;
}

.left {
  position: fixed;
  top: 1em;
  left: 1em;
  margin: 2em;
}

.center {
  margin: 4em 2em 4em 20em;
  min-width: 20em;
  max-width: 40em;
}

#text-toggle button {
  border: solid 1px grey;
  border-radius: 5px;
  background-color: white;
  display: block;
  font: inherit;
  font-size: 80%;
  padding: 0.75em;
  margin: auto;
}

#text-toggle button:hover {
  background-color: lightgrey;
}
